
.container {
    padding: 90px 32px 72px 32px;
    background-color: $VeryLightGray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;        
    @include breakpoint-up(large) {
        padding: 50px 30px;
    }
    @include breakpoint-up(xlarge) {
        height: 100vh;
        padding: 0 160px;
    }
    &__header {
        padding: 0 8px;
        text-align: center;
    
        @include breakpoint-up(large) {
            width: 620px;
        }
    }
    &__heading {
        font-size: 24px;
        font-weight: 200;
        line-height: 36px;
        margin-bottom: 18px;

        
        @include breakpoint-up(large) {
            font-size: 38px;
            line-height: 52px;
        }

        span {
            font-weight: 600;
        }
    }
    &__prgf{
        font-size: 16px;
        line-height: 26px;
        color: $GrayishBlue;
        margin-bottom: 72px;

        @include breakpoint-up(large) {
            font-size: 18px;
            margin-bottom: 40px;
        }
    }
    &__grid {
        display: grid;
        @include breakpoint-down(small) {
            grid-template-columns: 1fr;
            gap: 25px;
        }

        @include breakpoint-up(medium) {
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }

        @include breakpoint-up(large) {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr 1fr;
            gap: 30px;
            grid-template-areas: 
            "supervisor team-builder calculator"
            "supervisor karma calculator";
        }
    }
    &__item {
        position: relative;
        background-color: white;
        box-shadow: 0px 8px 12px 0 rgba($color: #000000, $alpha: 0.15);
        border-radius: 10px;
        overflow: hidden;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        .description {
            padding: 32px 32px 28px 32px;
        }
        h2 {
            font-size: 20px;
            color: $VeryDarkBlue;
            margin-bottom: 14px;
        }

        p {
            font-size: 12px;
            letter-spacing: 1px;
            line-height: 20px;
            color: $GrayishBlue;
            margin-bottom: 36px;
        }

        .image {
            width: 100%;
            text-align: right;
            @include breakpoint-down(small){
                height: 55px;
            }

            @include breakpoint-up(xlarge){
                height: 64px;
            }

            img {
                @include breakpoint-down(small) {
                    width: 55px;
                }

                @include breakpoint-up(xlarge){
                    width: 64px;
                }
            }
        }

        &.item1 {
            @include breakpoint-up(large){
                grid-area: supervisor;
                margin: 132px 0;
            }

            .border {
                height: 4px;
                width: 100%;
                background-color: $Cyan;
            }
        }

        &.item2 {
            @include breakpoint-up(large){
                grid-area: team-builder;
            }
            .border {
                height: 4px;
                width: 100%;
                background-color: $Red;
            }
        }

        &.item3 {
            @include breakpoint-up(large){
                grid-area: karma;
            }
            .border {
                height: 4px;
                width: 100%;
                background-color: $Orange;
            }
        }

        &.item4 {
            @include breakpoint-up(large){
                grid-area: calculator;
                margin: 132px 0;
            }
            .border {
                height: 4px;
                width: 100%;
                background-color: $Blue;
            }
        }

        &:hover {
            transform: scale(1.05);
        }
    }
}